--find-links https://download.pytorch.org/whl/cu121
torch
torchvision
lightautoml==0.3.8b1
gensim==4.3.3
numpy
pandas
scikit-learn
pillow
accelerate
transformers
tqdm
pyyaml
kaggle
kagglehub
joblib
numpy-stl
streamlit
